In [1]:
import datetime

# 1 - Display the current date detailed : year, month, day, hour, minute, second, and microsecond

In [2]:
x = datetime.datetime.now() # can pass on the timezone
print(x)

2019-08-06 12:53:48.802209

### N.B : 'strftime' converts Dates to Strings

### Year

In [3]:
x.year

2019

In [4]:
# Display the year
x.strftime('%Y')

'2019'

In [5]:
x.strftime('%y')

'19'

### Month

In [6]:
x.month

8

In [7]:
# Display the name of the month
x.strftime('%B')

'August'

In [8]:
# Display the name of the month
x.strftime('%b')

'Aug'

### Day

In [9]:
x.day

6

In [10]:
# Display the name of the day
x.strftime('%A')

'Tuesday'

In [11]:
x.strftime('%a')

'Tue'

# 2 - Current Date

In [12]:
tday = datetime.date.today()# no timezone

In [13]:
print(tday.year)
print(tday.month)
print(tday.day)

2019
8
6

### Day's corresponding number.
weekday()    : starts from 0 to 6 <br/>
isoweekday() : starts from 1 to 7

In [14]:
print(tday.weekday())

1

# 3- Generating a datetime date

In [15]:
d = datetime.date(2018,6,24)

In [16]:
d

datetime.date(2018, 6, 24)

# 4- Local Time

In [17]:
import time
import locale

In [18]:
locale.setlocale(locale.LC_ALL,"french")

'French_France.1252'

In [19]:
print(time.strftime('%a, %d %b %Y'))

mar., 06 août 2019

### Return french version of today's datetime day

In [20]:
x.strftime('%A')

'mardi'

# 5- String to Datetime

In [21]:
from datetime import datetime

In [26]:
date_str = "2019-08-06"

In [36]:
datetime_object = datetime.strptime(date_str,'%Y-%m-%d')

In [37]:
print(datetime_object)

2019-08-06 00:00:00

In [32]:
datetime_object.strftime('%Y')

'2019'

# 6- Month in letter to Datetime

In [38]:
str_fr = '10 Décembre 2011'

In [39]:
date_fr = datetime.strptime(str_fr,'%d %B %Y')

In [40]:
print(date_fr)

2011-12-10 00:00:00